spring:
  profiles:
    active: local

  application:
    name: NyeoreumnagiBatch

  jpa:
    hibernate.ddl-auto: update

  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always
  sql:
    init:
      mode: always
  #      schema-locations: classpath:init-farm.sql
#      data-locations: classpath:insert_unique_nxny.sql

api:
  service:
    key: ${OPEN_API_KEY}
    uv-key: ${UV_OPEN_API_KEY}
    sunriseset-key: ${SUNRISESET_API_KEY}

---

spring:
  config:
    activate:
      on-profile: local

  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:./batchdb;MODE=MySQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

---

spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:mysql://${RDS_ENDPOINT}:${RDS_PORT}/${RDS_DATABASE}?useSSL=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${RDS_USERNAME}
    password: ${RDS_PASSWORD}


