spring:
  profiles:
    active: local

  application:
    name: NyeoreumnagiBatch

  jpa:
    hibernate.ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true


  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always
  sql:
    init:
      mode: always
  #      schema-locations: classpath:init-farm.sql
#      data-locations: classpath:insert_unique_nxny.sql


api:
  service:
    key: ${OPEN_API_KEY}
    uv-key: ${UV_OPEN_API_KEY}
    sunriseset-key: ${SUNRISESET_API_KEY}
  seven-days-weather-service:
    key: ${MID_RANGE_WEATHER_API_KEY}
  air-quality-service:
    key : ${AIR_QUALITY_KEY}


---

spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:mysql://localhost:${RDS_PORT}/${RDS_DATABASE}?useSSL=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${RDS_USERNAME}
    password: ${RDS_PASSWORD}

  jpa:
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace

---

spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:mysql://${RDS_ENDPOINT}:${RDS_PORT}/${RDS_DATABASE}?useSSL=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${RDS_USERNAME}
    password: ${RDS_PASSWORD}


